.siteFooter {
    margin-top: auto;
    padding: 40px 50px 0 40px;
    background: var(--nav-color);
    color: var(--nav-text);
    filter: brightness(70%);
}

.siteFooterBody {
    padding-bottom:20px;
}