.siteHeader {
    padding:40px 50px 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background: var(--nav-color);
}
.siteHeaderBody { 
    display: flex;
    flex-wrap: wrap;
    width:1100px;
    justify-content: space-between;
    align-items: center;
}

.siteHeaderBody img { 
    transition: all .2s ease-in-out;
}
.siteHeaderBody img:hover { 
    transform: scale(1.2);
}

.nav {
    display: flex;
    justify-content: center;
    font-family: var(--font);
    width:100%;
}
.navLink { 
    text-decoration: none;
    color: var(--nav-text);
    padding: 13px 25px;
    border-bottom: 4px solid var(--nav-color);
}
.navLink.selected {
    color: var(--nav-text);
    border-bottom: 4px solid #ccc;
}
.navLink:hover {
    color: var(--nav-highlight);
    border-bottom: 4px solid var(--nav-highlight);
}