:root{
    --font: 'Assistant', sans-serif;  /* Site Main Font */
    
    --nav-color:    #000000;        /* Navigation area background color        */
    --nav-text:     #ffffff;        /* Navigation area foreground/text color   */
    --nav-highlight:#ffaa00;        /* Navigation area text hover/active color */

    --body-bg:      #ffffff;
    --body-bg2:     #efefef;
}

BODY { 
    padding:0; 
    margin:0;
    font-family: var(--font);
}

.site-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--body-bg2);
}

.page {
    margin:20px;
    background-color: var(--body-bg);
    padding:20px 20px 0 20px;
}

.page img {
    padding:20px;
}
.linked {
    text-decoration: none; 
    font-weight: bold;
    color: #6f6f6f;
}